.containt {
  /* height: 1300px; */
  width: 100%;

  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.lestitres {
  display: flex;
  justify-content: space-evenly;
  flex: auto;
  background: #ebebeb;
  border-top: solid 2px grey;
  border-bottom: solid 2px grey;
}
.quisuisje,
.competences,
.mesprojets,
.monprofilinteresse {
  color: #2a3044;
  /* margin-top: 30px; */
  display: flex;
  margin: 30px;
  font-family: cursive;
  font-size: 17px;
}
.photoprofil {
  display: flex;
  justify-content: center;
}

/* .photo {
  height: 400px;
  width: 400px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  object-fit: contain;
  object-position: center;
  border-radius: 100%;
  margin: 20px;
} */
.citations {
  margin: 100px;
  display: flex;
  flex-direction: column;
}
.citationA,
.citationB,
.citationC {
  display: flex;
  font-style: italic;
  /* color: grey; */
  font-size: large;
  text-align: justify;
}

.citationPosition {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 400px;
  margin-left: auto;
}
.citationA1,
.citationB1,
.citationC1 {
  font-style: oblique;
}

.box1,
.box2 {
  width: 400px;
  margin-top: 50px;
}

/* RESPONSIVE */

@media (min-width: 645px) and (max-width: 709px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 30px;
    font-family: cursive;
    font-size: 14px;
  }
}
@media (min-width: 594px) and (max-width: 645px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 30px;
    font-family: cursive;
    font-size: 12px;
  }
}
@media (min-width: 556px) and (max-width: 645px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 30px;
    font-family: cursive;
    font-size: 10px;
  }
}
@media (min-width: 554px) and (max-width: 645px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 30px;
    font-family: cursive;
    font-size: 10px;
  }
}
@media (min-width: 550px) and (max-width: 645px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 30px;
    font-family: cursive;
    font-size: 10px;
  }
}
@media (min-width: 540px) and (max-width: 645px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 30px;
    font-family: cursive;
    font-size: 10px;
  }
}
@media (min-width: 414px) and (max-width: 645px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 20px;
    font-family: cursive;
    font-size: 6px;
  }
  .citationA,
  .citationB,
  .citationC {
    display: flex;
    font-style: italic;
    font-size: 12px;
    text-align: justify;
  }
  .citationA1,
  .citationB1,
  .citationC1 {
    font-style: oblique;
    font-size: 12px;
  }
  .citationPosition {
    display: flex;
    flex-direction: column;

    width: 300px;
    margin-left: auto;
  }
  .citationA1,
  .citationB1,
  .citationC1 {
    font-style: oblique;
  }

  .box1,
  .box2 {
    width: 300px;
    margin-top: 40px;
  }
}
@media (min-width: 350px) and (max-width: 645px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 20px;
    font-family: cursive;
    font-size: 6px;
  }
  .citationA,
  .citationB,
  .citationC {
    display: flex;
    font-style: italic;
    font-size: 12px;
    text-align: justify;
  }
  .citationA1,
  .citationB1,
  .citationC1 {
    font-style: oblique;
    font-size: 12px;
  }
  .citationPosition {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* margin-left: auto; */
  }
  .citationA1,
  .citationB1,
  .citationC1 {
    font-style: oblique;
  }

  .box1,
  .box2 {
    width: 200px;
    margin-top: 40px;
  }
}
@media (min-width: 250px) and (max-width: 645px) {
  /* Rules */
  .quisuisje,
  .competences,
  .mesprojets,
  .monprofilinteresse {
    color: #2a3044;
    display: flex;
    margin: 10px;
    font-family: cursive;
    font-size: 6px;
  }
  .citationA,
  .citationB,
  .citationC {
    display: flex;
    font-style: italic;
    font-size: 12px;
    text-align: justify;
  }
  .citationA1,
  .citationB1,
  .citationC1 {
    font-style: oblique;
    font-size: 12px;
  }
  .citationPosition {
    display: flex;
    flex-direction: column;
    width: 150px;
    /* margin-left: auto; */
  }
  .citationA1,
  .citationB1,
  .citationC1 {
    font-style: oblique;
  }

  .box1,
  .box2 {
    width: 150px;
    margin-top: 40px;
  }
}
