.img {
  height: 40px;
  width: 60px;
  object-fit: cover;
  object-position: center;
}
.competence {
  display: flex;
  justify-content: space-between;
}
.nom {
  color: #2a3044;
}
.bodytitle {
  display: flex;
  justify-content: center;
  color: #2a3044;
}
.titlecomp {
  display: flex;

  margin: 40px;
  font-size: x-large;
}
.cv {
  height: 100%;
  width: 900px;
  object-fit: cover;
  object-position: center;
}
.chevronicon {
  margin-left: 20px;
}
.chevron {
  color: grey;
  /* margin-bottom: 10px; */
  height: fit-content;
}
