.vintedpicture,
.marvelimage,
.deliverooImage,
.todilistimage {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin-top: inherit;
}

.logoVinted,
.logomarvel,
.logodeliveroo,
.todologo {
  width: 150px;
}
.vinted,
.marvel,
.deliveroo,
.todologo {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.description {
  width: 400px;
  font-family: serif;
  font-size: 13px;
  font-style: italic;
  color: #01aeb5;
  margin-left: 25px;
  margin-top: 30px;
  text-align: justify;
}
.afaire {
  display: flex;
  margin-top: 30px;
}

/* .marvel {
  margin: 40px;
} */

.conseilmarvel {
  width: 400px;
  margin-left: 25px;
  margin-top: 30px;
  text-align: justify;
}
.textmarvel {
  width: 400px;
  font-family: serif;
  font-size: 13px;
  font-style: italic;
  color: #ed1c24;
  margin-left: 25px;
  margin-top: 30px;
}

.consignedeliveroo {
  display: flex;
  margin-top: 30px;
}
.textdeliveroo {
  width: 400px;
  font-family: serif;
  font-size: 13px;
  font-style: italic;
  color: #00ccbd;
  margin-left: 25px;
  margin-top: 30px;
  margin-top: 70px;
}
.emplacement {
  display: flex;
  /* justify-content: space-between; */
}

/* RESPONSIVE */

@media (min-width: 540px) and (max-width: 645px) {
  /* Rules */
  .emplacement {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
}
@media (min-width: 414px) and (max-width: 645px) {
  /* Rules */

  .emplacement {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
}
