.body {
  /* background-color: #2a3044; */
  height: 1300px;
  width: 100%;
}
.corps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apropos {
  color: #2a3044;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-style: oblique;
  font-family: cursive;
  /* margin-top: 50px; */
}
.bienvenue {
  color: #2a3044;
  margin: 40px;
  display: flex;
  justify-content: center;
  font-style: italic;
  flex-direction: column;
  text-align: center;
}
.introduction {
  color: #2a3044;
  /* margin: 20px; */
  display: flex;
  justify-content: center;
  font-style: italic;
}
.presentation {
  color: #2a3044;
  /* margin: 40px; */
  text-align: justify;
  width: 500px;
  font-style: italic;
}
.telechargement {
  color: #2a3044;
  margin: 40px;
  display: flex;
  justify-content: space-evenly;
}

.retour {
  color: #2a3044;
  margin: 40px;
}
.ornementBar {
  height: 60px;
}
.ornement {
  display: flex;
  justify-content: center;
}
.signature {
  display: flex;
  width: 500px;

  justify-content: flex-end;
  font-style: italic;
}
.signatureNom {
}

/* RESPONSIVE */

@media (min-width: 594px) and (max-width: 645px) {
  /* Rules */
  .apropos {
    color: #2a3044;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-style: oblique;
    font-family: cursive;
    /* margin-top: 50px; */
  }
  .bienvenue {
    color: #2a3044;
    margin: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
  .introduction {
    color: #2a3044;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  .presentation {
    color: #2a3044;
    /* margin: 40px; */
    text-align: justify;
    width: 300px;
    font-style: italic;
  }

  .retour {
    color: #2a3044;
    margin: 40px;
  }

  .signature {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    font-style: italic;
  }
}
@media (min-width: 556px) and (max-width: 645px) {
  /* Rules */
  .apropos {
    color: #2a3044;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-style: oblique;
    font-family: cursive;
    /* margin-top: 50px; */
  }
  .bienvenue {
    color: #2a3044;
    margin: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
  .introduction {
    color: #2a3044;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  .presentation {
    color: #2a3044;
    /* margin: 40px; */
    text-align: justify;
    width: 300px;
    font-style: italic;
  }

  .retour {
    color: #2a3044;
    margin: 40px;
  }

  .signature {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    font-style: italic;
  }
}
@media (min-width: 554px) and (max-width: 645px) {
  /* Rules */
  .apropos {
    color: #2a3044;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-style: oblique;
    font-family: cursive;
    /* margin-top: 50px; */
  }
  .bienvenue {
    color: #2a3044;
    margin: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
  .introduction {
    color: #2a3044;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  .presentation {
    color: #2a3044;
    /* margin: 40px; */
    text-align: justify;
    width: 300px;
    font-style: italic;
  }

  .retour {
    color: #2a3044;
    margin: 40px;
  }

  .signature {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    font-style: italic;
  }
}
@media (min-width: 550px) and (max-width: 645px) {
  /* Rules */
  .apropos {
    color: #2a3044;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-style: oblique;
    font-family: cursive;
    /* margin-top: 50px; */
  }
  .bienvenue {
    color: #2a3044;
    margin: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
  .introduction {
    color: #2a3044;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  .presentation {
    color: #2a3044;
    /* margin: 40px; */
    text-align: justify;
    width: 300px;
    font-style: italic;
  }

  .retour {
    color: #2a3044;
    margin: 40px;
  }

  .signature {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    font-style: italic;
  }
}
@media (min-width: 540px) and (max-width: 645px) {
  /* Rules */
  .apropos {
    color: #2a3044;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-style: oblique;
    font-family: cursive;
    /* margin-top: 50px; */
  }
  .bienvenue {
    color: #2a3044;
    margin: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
  .introduction {
    color: #2a3044;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  .presentation {
    color: #2a3044;
    /* margin: 40px; */
    text-align: justify;
    width: 200px;
    font-style: italic;
  }

  .retour {
    color: #2a3044;
    margin: 40px;
  }

  .signature {
    display: flex;
    width: 200px;
    justify-content: flex-end;
    font-style: italic;
  }
}
@media (min-width: 414px) and (max-width: 645px) {
  /* Rules */
  .apropos {
    color: #2a3044;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-style: oblique;
    font-family: cursive;
    /* margin-top: 50px; */
  }
  .bienvenue {
    color: #2a3044;
    margin: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
  .introduction {
    color: #2a3044;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  .presentation {
    color: #2a3044;
    /* margin: 40px; */
    text-align: justify;
    width: 200px;
    font-style: italic;
  }

  .retour {
    color: #2a3044;
    margin: 40px;
  }

  .signature {
    display: flex;
    width: 200px;
    justify-content: flex-end;
    font-style: italic;
  }
}
@media (min-width: 350px) and (max-width: 645px) {
  /* Rules */
  .apropos {
    color: #2a3044;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-style: oblique;
    font-family: cursive;
    /* margin-top: 50px; */
  }
  .bienvenue {
    color: #2a3044;
    margin: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
  .introduction {
    color: #2a3044;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    font-style: italic;
  }
  .presentation {
    color: #2a3044;
    /* margin: 40px; */
    text-align: justify;
    width: 200px;
    font-style: italic;
  }

  .retour {
    color: #2a3044;
    margin: 40px;
  }

  .signature {
    display: flex;
    width: 200px;
    justify-content: flex-end;
    font-style: italic;
  }
}

@media (min-width: 250px) and (max-width: 645px) {
  /* Rules */
  .apropos {
    color: #2a3044;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-style: oblique;
    font-family: cursive;
    /* margin-top: 50px; */
  }
  .bienvenue {
    color: #2a3044;
    margin: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;
    flex-direction: column;
    text-align: center;
  }
  .introduction {
    color: #2a3044;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 10px;
  }
  .presentation {
    color: #2a3044;
    /* margin: 40px; */
    text-align: justify;
    width: 170px;
    font-style: italic;
    font-size: 10px;
  }

  .retour {
    color: #2a3044;
    margin: 20px;
  }

  .signature {
    display: flex;
    width: 160px;
    justify-content: flex-end;
    font-style: italic;
  }
  .ornementBar {
    height: 20px;
  }
}
