.header {
  background: #ebebeb;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.emploi {
  margin-left: 200px;
}
.photoHero {
  height: 200px;
}
.logoinitial {
  height: 50px;
  width: 50px;
}
.entete {
  display: flex;

  flex-direction: column;
  margin: 20px;
}
/* RESPONSIVE */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 818px) and (max-width: 1024px) {
  */
/* Rules */
 .header {
    width: 100%;
    font-size: 12px;
  }
  .logoinitial {
    height: 25px;
    width: 25px;
  }
  .photoHero {
    height: 180px;
    object-fit: cover;
    object-position: center;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 760px) and (max-width: 818px) {
  /* Rules */

  .photoHero {
    height: 150px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 30px;
  }
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 645px) and (max-width: 761px) {
  /* Rules */
  .logoinitial {
    height: 25px;
    width: 25px;
  }
  .photoHero {
    height: 130px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 26px;
  }
}
@media (min-width: 645px) and (max-width: 709px) {
  /* Rules */

  .emploi {
    font-size: 22px;
  }
}
@media (min-width: 645px) and (max-width: 660px) {
  /* Rules */

  .emploi {
    font-size: 20px;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 594px) and (max-width: 645px) {
  /* Rules */
  .logoinitial {
    height: 22px;
    width: 22px;
  }
  .photoHero {
    height: 110px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 18px;
    margin-left: 150px;
  }
}
@media (min-width: 556px) and (max-width: 645px) {
  /* Rules */
  .logoinitial {
    height: 20px;
    width: 20px;
  }
  .photoHero {
    height: 110px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 18px;
    margin-left: 150px;
  }
}
@media (min-width: 554px) and (max-width: 645px) {
  /* Rules */
  .logoinitial {
    height: 20px;
    width: 20px;
  }
  .photoHero {
    height: 110px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 18px;
    margin-left: 150px;
  }
}
@media (min-width: 540px) and (max-width: 645px) {
  /* Rules */
  .logoinitial {
    height: 20px;
    width: 20px;
  }
  .photoHero {
    height: 110px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 16px;
    margin-left: 150px;
  }
}
@media (min-width: 414px) and (max-width: 645px) {
  /* Rules */
  .logoinitial {
    height: 20px;
    width: 20px;
  }
  .photoHero {
    height: 110px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 10px;
    margin-left: 130px;
  }
}
@media (min-width: 350px) and (max-width: 645px) {
  /* Rules */
  .logoinitial {
    height: 20px;
    width: 20px;
  }
  .photoHero {
    height: 110px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 10px;
    margin-left: 100px;
  }
}
@media (min-width: 250px) and (max-width: 645px) {
  /* Rules */
  .logoinitial {
    height: 20px;
    width: 20px;
  }
  .photoHero {
    height: 90px;
    object-fit: cover;
    object-position: center;
  }
  .header {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
  .emploi {
    font-size: 10px;
    margin-left: 90px;
  }
}
